<div class="ui card color">
<p>Je hebt zojuist een idee geplaatst op <%= title %></p>
<p>Bevestig jouw e-mail adres via deze <a href="http://www.ideeenvijver.nl/#/confirm/<%= code %>">link</a></p>
<p>Door je e-mail adres te bevestigen kun je jouw eigen idee volgen:</p>
<ul>
<li>Is jouw idee aan het winnen? Hoeveel stemmen heb je al?</li>
<li>Deel je idee via social media!</li>
<li>Geef antwoord op de vragen die mensen kunnen stellen bij jouw idee?</li>
<li>Check de aanvullingen van anderen op jouw idee!</li>
<li>Breid je idee verder uit! Ga van idee tot concept met extra tekst, afbeeldingen of schetsen.</li>
</ul>
<p>Er zijn twee prijzen te winnen! Die voor het BESTE IDEE én die voor de BESTE SAMENWERKER.</p>
<p>
Log in via de link en maak jouw idee zo goed mogelijk. Dit doe je door het uit te breiden met afbeeldingen en extra informatie. Je kunt jouw idee delen via ook via social media en anderen vragen om input. Zo wordt de kans dat jouw idee de titel BESTE IDEE verdient steeds groter.
De prijs voor BESTE SAMENWERKER kun je winnen door betrokken te zijn bij de ideeën van anderen. Ga naar de website en bekijk de ideeën van anderen. Als je hier aanvullingen op hebt kun je deze toevoegen. Je kunt ook vragen stellen en schetsen of afbeeldingen toevoegen.
Je kunt ideeën ook omhoog of omlaag stemmen. Zo ontstaat er een top vijf van ideeën. Een jury zal aan het einde van de maand uit deze top vijf een winnaar selecteren en op 31 juli worden de winnaars bekendgemaakt.
</p>
<p>Heel veel plezier & succes!!</p>
<p>Groetjes,</p>
<p>Frederique van <%= title %></p>
<p>P.S. Heb je vragen? Mail dan naar <%= mail %></p>
<img src="cid:logo@ideeenvijver.nl"/>
</div>
