<div class="ui card">
  <p>Dank je wel voor je registratie op <%= title %>!</p>
  <p>Om de registratie compleet te maken klik je op [<a href="https://www.toekomstvijvereersel.nl/#/confirm/<%= code %>">deze link</a>] om je email adres te bevestigen.</p>
  <p>Zo kun je actief deelnemen aan alle ideeën.</p>
  <p>Heel veel plezier & succes!!</p>
  <p>Groetjes,</p>
  <p><%= title %></p>
  <p>P.S. Heb je vragen? Mail dan naar <%= mail %></p>
</div>
<div class="ui card color">
  <img src="cid:logo@ideeenvijver.nl"/>
</div>
