.ideacard {
    padding-top: 20px;
    cursor: pointer;
}

.ideacard h3 {
    font-family: "Amatic SC";
    font-size: 34pt;
}

.ideacard .status {
    width: 70px;
    height: 100%;
    float: left;
}

.ideacard .info {
    margin-left: 84px;
    height: 100%;
    overflow: hidden;
}

.ideacard .top {
    height: 150px;
}

.ideacard .bottom {
    margin-bottom: 30px;
}

.ideacard .voteset {
    float: left;
}

.ideacard .metric {
    margin-left: 20px;
    line-height: 33px;
    float: left;
}

.ideacard .metric .number {
    font-size: 20px;

}

.ideacard .metric .label {
    font-size: 13px;
    margin-left: 4px;
}
