<div class="ui card">
  <p>Je hebt zojuist een idee geplaatst op <%= title %>!</p>
  <p>Klik op [<a href="https://www.ideeenvijver.nl/#/confirm/<%= code %>">deze link</a>] om je email adres te bevestigen.</p>
  <p>Zo kun je jouw idee verder aanvullen en blijven volgen.</p>
  <p>Heel veel plezier & succes!!</p>
  <p>Groetjes,</p>
  <p>Frederique van <%= title %></p>
  <p>P.S. Heb je vragen? Mail dan naar <%= mail %></p>
</div>
<div class="ui card color">
  <img src="cid:logo@ideeenvijver.nl"/>
</div>
