<div class="ui card">
  <p>Jij of iemand anders heeft aangegeven het wachtwoord te zijn vergeten op <%= title %>!</p>
  <p>Wil je echt je wachtwoord veranderen? Klik dan op [<a href="https://www.ideeenvijver.nl/#/confirm/<%= code %>">deze link</a>] en vul je gegevens opnieuw in.</p>
  <p>Weet je je wachtwoord opeens weer of heeft iemand anders een grap uitgehaald? Doe dan niets! Je kunt je <em>oude</em> wachtwoord gewoon blijven gebruiken.</p>
  <p>Groetjes,</p>
  <p>Frederique van <%= title %></p>
  <p>P.S. Heb je vragen? Mail dan naar <%= mail %></p>
</div>
<div class="ui card color">
  <img src="cid:logo@ideeenvijver.nl"/>
</div>
